h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    font-weight: 900;
    font-style: italic;
    font-size: 50px;
    text-shadow: rgba($color: #000000, $alpha: 0.5);
}

@media only screen and (max-width: 600px) {
    h1{
      font-size: 40px;
    }
  
}

.div-parrafo{
    color: $eerieblack;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 15px;
    font-size: large;
    opacity: 70%;
    line-height: 40px;
}
.fecha_parrafo{
    color: #6C6E70;
    margin-top: 30px;
}
